* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 오버레이 */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu a {
  background: white;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 12px;
}
